.prompt-text {
  margin-left: 5.5%;
  margin-top: 1%;
  font-size: 18px;
  font-weight: bold;
}

.prompt-input {
  margin-left: 5.5%;
  margin-top: 1%;
  width: 60%;
}

.btn-generate-img {
  margin-left: 5.5%;
  margin-top: 1%;
  font-size: 15px;
}

.container {
  display: flex;
  justify-content: space-between;
}
.form {
  flex: 3;
  margin-left: 2%;
}
.image {
  flex: 1;
  border: 2px solid black;
}
